<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>20/06/10 12:10:30</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;InvoicePriceCalculatorTest.after()[pri:0, instance:com.rr19.example.tests.InvoicePriceCalculatorTest@5bc79255]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>20/06/10 12:10:29</td>   <td>-1202</td> <td>&nbsp;</td><td title="&gt;&gt;InvoicePriceCalculatorTest.before()[pri:0, instance:com.rr19.example.tests.InvoicePriceCalculatorTest@5bc79255]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>20/06/10 12:10:29</td>   <td>-1173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvoicePriceCalculatorTest.testTotalAmountOfInvoicesByIdForGivenCustomerHasNoInvoice()[pri:0, instance:com.rr19.example.tests.InvoicePriceCalculatorTest@5bc79255]">testTotalAmountOfInvoicesByIdForGivenCustomerHasNoInvoice</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>20/06/10 12:10:30</td>   <td>-502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvoicePriceCalculatorTest.testTotalAmountOfInvoicesByIdForGivenCustomerHasValidInvoice()[pri:0, instance:com.rr19.example.tests.InvoicePriceCalculatorTest@5bc79255]">testTotalAmountOfInvoicesByIdForGivenCustomerHasValidInvoice</td> 
  <td>main@513169028</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>20/06/10 12:10:30</td>   <td>-206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvoicePriceCalculatorTest.testTotalAmountOfInvoicesByIdForGivenCustomerIdIsInvalid()[pri:0, instance:com.rr19.example.tests.InvoicePriceCalculatorTest@5bc79255]">testTotalAmountOfInvoicesByIdForGivenCustomerIdIsInvalid</td> 
  <td>main@513169028</td>   <td></td> </tr>
</table>
